doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#011627")
    title= "Wendigo Tattoo | Make your dreams become ink"
    link(rel="stylesheet" type="text/css" href="assets/css/styles.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto|Open+Sans+Condensed:300,700|Amatic+SC' rel='stylesheet' type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Amarante|Amatic+SC|Caesar+Dressing|Fredericka+the+Great|Fruktur|Jim+Nightshade|Kristi|Loved+by+the+King|Piedra" rel='stylesheet' type='text/css')
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    
    link(href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Cabin+Sketch|Caveat|Coming+Soon|Condiment|Julee|Kavivanar|La+Belle+Aurore" rel='stylesheet' type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Ewert" rel='stylesheet' type='text/css')
    
    
      
  body
    //- HEADER
    header
      .wrapper
        h1.no-margin-padding Wendigo
          span Tattoo
        h4.no-margin-padding Make your dreams become ink
        //- a(href="#") Contact
        a(href="https://www.facebook.com/WendigoTattoo/"): i.fa.fa-facebook-official
        a(href="https://www.instagram.com/wendigotattoo/"): i.fa.fa-instagram
    
    //- MAIN
    main.wrapper
      //- ORIGINAL
      section#original  
        h2 Original designs
        .img-container
          .highlight
            img(src="assets/img/original/pirate-skull.jpg", alt="satyr")
          .divided
            img(src="assets/img/original/icecream-skulls.jpg", alt="icecream skulls")
            img(src="assets/img/original/natives.jpg", alt="natives")        
            img(src="assets/img/original/joker.jpg", alt="joker")
            img(src="assets/img/original/deer-demon.jpg", alt="deer demon")
        
      //- ABOUT ME
      section#about-me
        h2 About me
        .wrapper  
          .media-object
            .media
              img.avatar(src="assets/img/roc.jpg")
            .content
              p Soy Roc y esto es jackass. Lo peto haciendo lo que sea y lo sabes. Aqui pondriamos una descripcion asi todo molona. Rafa huele a culo. Lorem ipsum de la muerte.
        
      hr
        
      //- WORK
      section#work  
        h2 Previous work
        .img-container
          .divided
            img(src="assets/img/work/mirror.jpg", alt="mirror")
            img(src="assets/img/work/clock-eye.jpg", alt="clock eye")
            img(src="assets/img/work/dream-catcher.jpg", alt="dream catcher")        
            img(src="assets/img/work/skull-demon.jpg", alt="skull demon")
              
          .highlight
            img(src="assets/img/work/flower.jpg", alt="flower")
              
              
      //- OPINIONS
      section#opinions
        h2 Opinions
        .wrapper
          .media-object
            .media
              img.avatar(src="assets/img/maria.jpg")
            .content
              p Ma gustao musho. Roc e mu buen xico, me trato mu bieng i lo volveria a aser. Les dejo mis dies. Un abraso.
              p.muted Maria 2016
      
      //- CONTACT
    section#contact  
      .wrapper
        h2 Contact me
        form
          .name-email
            input(type="text", placeholder="Name").name
            input(type="email", placeholder="Email").email
          textarea(name="reason", placeholder="Reason").reason
        a(href="#") Send
          
          
    footer
      p Kuroi Kyu &copy 2016       
