* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #FFF;
  color: #011627;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

.wrapper {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-margin-padding {
  margin: 0;
  padding: 0;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

header {
  position: relative;
  z-index: 1;
  text-align: center;
}

header::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: 50% 75%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

header::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #011627;
  opacity: .6;
}

header .wrapper {
  padding: 6rem 0;
  max-width: 80%;
}

header .wrapper h1 {
  color: #EFFFE9;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-family: 'Fredericka the Great', cursive;
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
}

header .wrapper h1 span {
  font-weight: lighter;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .6em;
  display: inline-block;
  -webkit-transform: translate(0, -0.5em) translateZ(0px);
          transform: translate(0, -0.5em) translateZ(0px);
  color: #ec4b5f;
}

header .wrapper h4 {
  color: rgba(239, 255, 233, 0.75);
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
  font-weight: lighter;
  opacity: .8;
  margin-bottom: 3rem;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

header .wrapper a {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0 30px;
  text-decoration: none;
  color: #EFFFE9;
  color: rgba(239, 255, 233, 0.6);
}

header .wrapper a:hover {
  color: #ec4b5f;
}

main h2 {
  font-weight: lighter;
  font-size: 1.2rem;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 1;
  color: #FFF;
  text-align: center;
}

main h2:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 25px;
  background: rgba(1, 22, 39, 0.7);
  top: 0px;
  left: calc(50%);
  -webkit-transform: rotate(-2deg) skewX(10deg) translate(-50%, 0);
      -ms-transform: rotate(-2deg) skewX(10deg) translate(-50%, 0);
          transform: rotate(-2deg) skewX(10deg) translate(-50%, 0);
}

main .img-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

main .img-container div img {
  padding: .35rem;
  border-radius: 12px;
}

main .img-container .highlight {
  line-height: 0;
}

main .img-container .highlight img {
  width: 100%;
}

main .img-container .divided {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .img-container .divided img {
  width: 50%;
  height: 50%;
}

@media screen and (min-width: 720px) {
  main .img-container {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .img-container .highlight {
    min-width: 50%;
  }
}

main hr {
  clear: both;
  border-top: 2px solid #ec4b5f;
  width: 100px;
  margin: 3rem auto 0;
}

@media screen and (min-width: 720px) {
  #about-me .wrapper, #opinions .wrapper {
    max-width: 500px;
  }
}

#about-me .media-object, #opinions .media-object {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#about-me .media-object .media, #opinions .media-object .media {
  margin-right: 20px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

#about-me .avatar, #opinions .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#about-me p, #opinions p {
  margin: 0;
  font-size: .8rem;
}

#about-me p.muted, #opinions p.muted {
  font-size: .8em;
  color: rgba(1, 22, 39, 0.75);
}

#about-me .carousel-nav, #opinions .carousel-nav {
  margin-top: -20px;
  text-align: right;
}

#about-me .carousel-nav svg, #opinions .carousel-nav svg {
  cursor: pointer;
}

#about-me .carousel-wrap, #opinions .carousel-wrap {
  position: relative;
}

#about-me .carousel-wrap .media-object, #opinions .carousel-wrap .media-object {
  position: absolute;
  opacity: 0;
  transition: all 400ms ease-in-out;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

#about-me .carousel-wrap .media-object.is-current, #opinions .carousel-wrap .media-object.is-current {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#contact {
  margin: 6rem 0 0;
  background: #011627;
  color: #EFFFE9;
  padding: 3rem 0;
}

#contact form .name-email {
  display: inline-block;
  margin-bottom: .5rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact form .name-email input {
  width: 49%;
}

#contact form input, #contact form textarea {
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  border: 0;
  color: #FFF;
  padding: .5rem;
  transition: all ease-in-out 300ms;
}

#contact form input::-webkit-input-placeholder, #contact form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#contact form input::-moz-placeholder, #contact form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#contact form input:-ms-input-placeholder, #contact form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#contact form input::placeholder, #contact form textarea::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#contact form input:focus, #contact form textarea:focus {
  box-shadow: inset 0 -2px 0 0px #EFFFE9;
}

#contact form textarea {
  width: 100%;
  margin-bottom: .25rem;
}

#contact a {
  margin-top: 0.83em;
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  font-weight: bold;
  background-color: #ec4b5f;
  color: #EFFFE9;
  box-shadow: 0 4px 0 0 #EFFFE9;
  transition: all ease-in-out 100ms;
}

#contact a:active {
  -webkit-transform: translate(0, 4px);
      -ms-transform: translate(0, 4px);
          transform: translate(0, 4px);
  box-shadow: 0px 0px 0px 0px #EFFFE9;
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: .7rem;
}
