* {
  box-sizing: border-box; }
  *::-moz-selection {
    background: #ec4b5f;
    color: #EFFFE9; }
  *::selection {
    background: #ec4b5f;
    color: #EFFFE9; }

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #FFF;
  color: #011627; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

.wrapper {
  width: 900px;
  max-width: 90%;
  margin: 0 auto; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.no-margin-padding {
  margin: 0;
  padding: 0; }

.clearfix {
  overflow: auto; }
  .clearfix::after {
    content: '';
    display: table;
    clear: both; }

header {
  position: relative;
  z-index: 1;
  text-align: center; }
  header::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: 50% 75%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
  header::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #011627;
    opacity: .6; }
  header .wrapper {
    padding: 6rem 0;
    max-width: 80%; }
    header .wrapper svg {
      margin-top: -3rem;
      margin-bottom: 1rem;
      width: 300px;
      fill: #011627; }
    header .wrapper h1 {
      color: #EFFFE9;
      margin-bottom: 2rem;
      font-size: 3.5rem;
      font-family: "Fredericka the Great", cursive;
      font-size: 3rem;
      font-weight: lighter;
      text-transform: uppercase; }
      header .wrapper h1 span {
        font-weight: lighter;
        font-family: "Open Sans Condensed", sans-serif;
        font-size: .6em;
        display: inline-block;
        -webkit-transform: translate(0, -0.5em) translateZ(0px);
        transform: translate(0, -0.5em) translateZ(0px);
        color: #ec4b5f; }
    header .wrapper h4 {
      color: rgba(239, 255, 233, 0.75);
      font-size: 2rem;
      font-family: "Amatic SC", cursive;
      font-size: 1.5rem;
      font-weight: lighter;
      opacity: .8;
      margin-bottom: 3rem;
      -webkit-transform: translateZ(0px);
      transform: translateZ(0px); }
    header .wrapper a {
      display: inline-block;
      font-size: 1.5rem;
      padding: 0 30px;
      text-decoration: none;
      color: #EFFFE9;
      color: rgba(239, 255, 233, 0.6); }
      header .wrapper a:hover {
        color: #ec4b5f; }

h2 {
  font-weight: lighter;
  font-size: 1.2rem;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 1;
  color: #FFF;
  text-align: center;
  font-family: "Amatic SC", cursive;
  text-transform: uppercase;
  font-size: 2rem; }
  h2:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 30px;
    background: rgba(1, 22, 39, 0.7);
    top: 0px;
    left: calc(50%);
    -webkit-transform: rotate(-3deg) skewX(10deg) translate(-50%, 0);
    -ms-transform: rotate(-3deg) skewX(10deg) translate(-50%, 0);
    transform: rotate(-3deg) skewX(10deg) translate(-50%, 0); }

.dimmer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(1, 22, 39, 0.95); }
  .dimmer.display {
    display: inherit; }

main .img-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  main .img-container div img {
    padding: .35rem;
    border-radius: 12px; }
    main .img-container div img.enlarge {
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 100;
      width: inherit !important;
      max-width: 95%;
      height: inherit; }
  main .img-container .highlight {
    line-height: 0; }
    main .img-container .highlight img {
      width: 100%; }
  main .img-container .divided {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    main .img-container .divided img {
      width: 50%;
      height: 50%; }
  @media screen and (min-width: 720px) {
    main .img-container {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      main .img-container .highlight {
        min-width: 50%; } }

main hr {
  clear: both;
  border-top: 2px solid #ec4b5f;
  width: 100px;
  margin: 3rem auto 0; }

@media screen and (min-width: 720px) {
  #about-me .wrapper, #opinions .wrapper {
    max-width: 500px; } }

#about-me .media-object, #opinions .media-object {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #about-me .media-object .media, #opinions .media-object .media {
    margin-right: 20px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }

#about-me .avatar, #opinions .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%; }

#about-me p, #opinions p {
  margin: 0;
  font-size: .8rem; }
  #about-me p.muted, #opinions p.muted {
    font-size: .8em;
    color: rgba(1, 22, 39, 0.75); }

#about-me .carousel-nav, #opinions .carousel-nav {
  margin-top: -20px;
  text-align: right; }
  #about-me .carousel-nav svg, #opinions .carousel-nav svg {
    cursor: pointer; }

#about-me .carousel-wrap, #opinions .carousel-wrap {
  position: relative; }
  #about-me .carousel-wrap .media-object, #opinions .carousel-wrap .media-object {
    position: absolute;
    opacity: 0;
    transition: all 400ms ease-in-out;
    -webkit-transform: translate(0px, 40px);
    -ms-transform: translate(0px, 40px);
    transform: translate(0px, 40px); }
    #about-me .carousel-wrap .media-object.is-current, #opinions .carousel-wrap .media-object.is-current {
      opacity: 1;
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px); }

#contact {
  margin: 6rem 0 0;
  background: #011627;
  color: #EFFFE9;
  padding: 3rem 0;
  padding-bottom: 6rem;
  text-align: center; }
  #contact h2 {
    color: #011627;
    margin-top: 1.5rem;
    font-weight: bold; }
    #contact h2::after {
      background-color: #EFFFE9; }
  #contact a {
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px; }
  #contact a {
    color: #EFFFE9;
    position: relative;
    display: inline-block;
    color: #ec4b5f;
    border-bottom: 2px solid #ec4b5f;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
    #contact a:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 2px;
      background: #ec4b5f;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
      transition: -webkit-transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
      transition-delay: 0.6s; }
    #contact a > span {
      position: relative;
      display: block;
      padding: 1em;
      color: inherit; }
      #contact a > span:before, #contact a > span:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: #ec4b5f;
        transition: -webkit-transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
      #contact a > span:before {
        height: 2px;
        width: 100%;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        transition-delay: 0.4s; }
      #contact a > span:after {
        height: 100%;
        width: 2px;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        transition-delay: 0.2s; }
    #contact a.hover:after,
    #contact a.hover > span:before,
    #contact a.hover > span:after {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
    #contact a.hover:after {
      transition-delay: 0s; }
    #contact a.hover > span:before {
      transition-delay: 0.2s; }
    #contact a.hover > span:after {
      transition-delay: 0.4s; }
    #contact a.hover {
      color: #EFFFE9;
      background-color: #ec4b5f;
      transition-delay: 0.6s; }
  #contact svg {
    float: left;
    height: 1.2rem;
    width: 1.2rem;
    margin-right: .6rem; }
    #contact svg path {
      fill: currentColor; }

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: .7rem; }
